/**
 * style.css for Plugin hidden
 * 
 * @license    GPL 2 (http://www.gnu.org/licenses/gpl.html)
 * @author     Guillaume Turri <guillaume.turri@gmail.com>
 *
 */

.hiddenHead{
  background-color:__background_main__;
}

.hiddenBody{
  border-top:1px solid __border__;
  padding:1px;
}

.hiddenGlobal{
  border:1px solid __border__;
}

.hiddenOnHidden{
  display:none;
}

.hiddenOnVisible{
  display:none;
}

.hiddenElements{
  display:none;
}

div.hiddenGlobal div.hiddenHead p{
  margin:0;
}

.hiddenNoPrint {
    display:none;
}
